@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {
    margin: 0;
    padding: 0;
}
#uploader{
    -webkit-appearance: none;
    appearance: none;
    margin:10px;
    width:100%;
}
html {
    height: 100%;
}

body {
    overflow-x: hidden;
    font-family: montserrat, arial, verdana;
    background: transparent;
}

.profid{
    visibility: hidden;
}
.logout{
    visibility: hidden;
    cursor: pointer;
}
.logout:hover{
    color:blue;
}
.heading{
    font-family: 'Roboto Mono',monospace;
    font-size: 1.5rem;
    font-weight: bolder;
}
/*form styles*/
#msform {
    text-align: center;
    position: relative;
    margin-top: 30px;
}
.loader{
    visibility: hidden
}
.spinner {
    display: inline-block;
    opacity: 0;
    max-width: 0;
    -webkit-transition: opacity 0.25s, max-width 0.45s;
    -moz-transition: opacity 0.25s, max-width 0.45s;
    -o-transition: opacity 0.25s, max-width 0.45s;
    transition: opacity 0.25s, max-width 0.45s;
    /* Duration fixed since we animate additional hidden width */
  }
  
  .has-spinner.active {
    cursor: progress;
  }
  .has-spinner.active .spinner {
    opacity: 1;
    max-width: 50px;
    /* More than it will ever come, notice that this affects on animation duration */
  }
#msform form {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking forms above each other*/
    position: relative;
}

/*Hide all except first form*/
#msform form:not(:first-of-type) {
    display: none;
}
@media only screen and (min-width: 770px)
{
    .course-form{
        margin-left:-15vw !important;
        width: 80vw !important;
    }
}