/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-x:hidden;
}
.view{
    border: solid black 1.5px;
}
tr{
    padding:5px;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.cont{
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.thumbnail{
    border:1.5px solid black;
}
ol{
    list-style-type: none;
}
.pdfobject-container{
    width:90%;
    border:solid black 1.5px;
    height:100px;
}
body {
    background: transparent;
    font-size: 1em;
}
#uploader{
    -webkit-appearance: none;
    appearance: none;
    margin:10px;
    width:50%;

}
.hidden{
   visibility: hidden;
}

/*form styles*/
#msform {
    font-family: montserrat, arial, verdana;
    text-align: center;
    position: relative;
    margin-top: 25px;
    margin-bottom: 30px;
}

#msform fieldset {
    background: rgb(236, 236, 236);
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 2px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}
.footer{
    bottom: 0;
}
/*inputs*/


#msform input:focus, #msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #ee0979;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}

/*buttons*/
#msform .action-button {
    width: 100px;
    background: #ee0979;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #ee0979;
}

#msform .action-button-previous {
    width: 100px;
    background: rgb(97, 97, 248);
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}

/*headings*/
.fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}